{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Admin Login</title>

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

		<!-- Custom Stylesheet -->
		<link rel="stylesheet" href="{% static 'form/style.css' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="top">
				<h1 id="title" class="hidden"><strong>Administration</strong></h1>
			</div>
			<div class="login-box">
				<div class="box-header">
					<h2>Admin Login</h2>
				</div>
			{% block content %}
				<form method="POST">
					{% csrf_token %}
          <br/>
					<strong>Username</strong></br>{{ form.username }}<br/>
          <strong>Password</strong><br/>{{ form.password }}<br/>
					<button type="submit">Login</button>
					<br/>
				</form><br/>
				<a href="{% url 'index' %}">Access Code?</a>
			</div>
		{% endblock %}
		</div>
	</body>

</html>
