<!doctype html>
<html>
<head>
  <title>all_forms</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

{% block content %}
  <body>
    <div class="container"><br/></br>
      <h2>List of All Forms</h2></br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Account No.</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
        {% for temp in list %}
         <tr>
           <td>{{ temp.Name }}</td>
           <td>{{ temp.AccNumber }}</td>
           <td><a class="btn btn-outline-info btn-sm" href="{% url 'details' temp.AccNumber %}">View</a></td>
         </tr>
        {% endfor %}
        </tbody>
      </table><br/>
        <a class="btn btn-outline-dark btn-sm"href="{% url 'logout' %}">Logout</a>
    {% endblock %}
    </div>
  </body>
</html>
