{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'form/loda.css' %}">
    <title>TDS FORM DETAILS</title>
  </head>
  <body>
    <div id="parent">
    <div class="container">
      <h4>
      <div class="row">
        <div class="col-xs-3 ">U/s 192(2B)</div>
        <div class="col-xs-7 text-center"><strong>Statement of Income for the purpose of TDS</strong></div>
        <div class="col-xs-2 text-right">in lieu of form <b>ITS</b></div>
      </div>

      <div class="row">
        <div class="col-xs-3 ">Income Tax Act 1961</div>
        <div class="col-xs-7 text-center"><strong>आयकर स्त्रोत कटौती के बावत आय का प्राक्कथन </strong></div>
        <div class="col-xs-2 text-right"><b>12C</b></div>
      </div>
      </h4>

      <h5>
      <div class="row">
        <div class="col-xs-12 text-center "><strong>नोट : यह प्रपत्र सम्पूर्ण नहीं अपूर्ण है, अधिक व पूर्ण जानकारी हेतु अपने अधिवक्ता, सी . ऐ . या आयकर विभाग से संपर्क करे ।</strong></div>
      </div>
      </h5>

      <div class="row">
         <div class="col-xs-12 text-center ">(To be submitted in November 2017 by Assessee- Employee to his Employer for salary upto March 2018 i.e Fin. Year 2017-18 )</div>
         <div class="col-xs-12 text-center ">(For employees having gross receipts of more than Rs. 2,50,000/- in the financial year irrespective of Deductions or exemptions)</div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-4"><strong>Year ending 31.3.2018</strong></div>
        <div class="col-xs-4 text-center"><strong>Financial Year 2017-18</strong></div>
        <div class="col-xs-4 text-right"><b>Assessment Year 2018-19</b></div>
      </div>
      <br/>
  {% block content %}

  <div class="row border">
     <div class="col-xs-12">Name of the Employee Mr./Mrs./Ku. {{ customer.Name }}</div>
     <div class="col-xs-6">Designation {{ customer.Designation }}</div>
     <div class="col-xs-6"> I.T.Perm.A/c.No.{{ customer.AccNumber }}</div>
      <div class="col-xs-12">कार्यालय पता  Off. Add. {{ customer.OffAdd }}</div>
       <div class="col-xs-12">निवासी  पता Perm. Resi. Add. {{ customer.ResAdd }}</div>
       <div class="col-xs-12">Attach Document if any:<a>file</a></div>
    </div>

    <br/>
       <div class="col-xs-8">1. आय  Income  (a) वेतन से आय  Pay +DA +ADA +CCA +HRA</div>
       <div class="col-xs-4">Rs.{{ customer.Field1a }}</div>
       <div class="col-xs-8">&emsp;&emsp;&emsp;&emsp;(b)बकाया वेतन  Arrears of Pay</div>
       <div class="col-xs-4">Rs.{{ customer.Field1b }}</div>
       <div class="col-xs-8"><tb/>&emsp;&emsp;&emsp;&emsp;(c) छुट्टी का नगदीकरण Encashment of leave</div>
       <div class="col-xs-4">Rs.{{ customer.Field1c }}</div>
       <div class="col-xs-8"><tb/>&emsp;&emsp;&emsp;&emsp;(d)अन्य परिलब्धियां other prequistes</div>
       <div class="col-xs-4">Rs.{{ customer.Field1d }}</div>
       <div class="col-xs-12 text-right">योग  Total(1) Rs.{{ customer.Field1Total }}</div>
       <div class="col-xs-12 ">2.माकन किराया भत्ता छूट HRA Rebate (मकान किराया रसीद की फोटो कॉपी लगाए )</div>
       <div class="col-xs-8">&emsp;(a) माकन किराया भत्ता HRA Recieved</div>
       <div class="col-xs-4">Rs.{{ customer.Field2a }}</div>
       <div class="col-xs-8">&emsp;(b) वेतन + मंहगाई भत्ते के 10 % से अधिक दिया गया किराया (Rent paid in access of 10% of salary+DA)</div>
       <div class="col-xs-4">Rs.{{ customer.Field2b }}</div>
       <div class="col-xs-8">&emsp;(c) वेतन + मंहगाई भत्ते के 40 %&emsp;40% of salary + DA</div>
       <div class="col-xs-4 ">Rs.{{ customer.Field2c }}</div>
       <div class="col-xs-6">&emsp;&emsp;(उपरोक्त में जो कम हो घटाए &emsp; deduct whichever is less)</div>
       <div class="col-xs-6 text-right">घटाए minus(2)(-) Rs.{{ customer.Minus2 }}</div>
       <div class="col-xs-6">3. कर योग सकल वेतन <b>Gross taxable salary(1-2)</b></div>
       <div class="col-xs-6 text-right">शेष Balance(3)  Rs. {{ customer.Field3 }}</div>
       <div class="col-xs-6">4.वृत्तिकर कटौती Professional Tax Deduction U/s 16(iii)(दर पीछे पृष्ठ पर देखे )</div>
       <div class="col-xs-6 text-right">(-) Rs.{{ customer.Field4 }}</div>
       <div class="col-xs-6">5.कर योग्य वेतन  <b>Taxable Salary(3-4)</b></div>
       <div class="col-xs-6 text-right">(5) Rs.{{ customer.Field5 }}</div>
       <div class="col-xs-6">6. गृह संपत्ति से कर योग्य आय  Taxable Imcome from House property</div>
       <div class="col-xs-6 text-right">(6) Rs.{{ customer.Field6 }}</div>
       <div class="col-xs-3">7. पूंजीगत लाभ Capital gain</div>
       <div class="col-xs-3 text-right">(a) अल्पकालिक Short term</div>
       <div class="col-xs-6 text-right ">(7a) Rs.{{ customer.Field7a }}</div>
       <div class="col-xs-6 text-right">&emsp;&emsp;(b)  दीर्घकालिक long term</div>
       <div class="col-xs-6 text-right">(7b) Rs.{{ customer.Field7b }}</div>
       <div class="col-xs-12">8. अन्य स्त्रोतों से आय income from other sources</div>
       <div class="col-xs-6">&emsp;ब्याज अन्य आय  इत्यादि - बैंक, अन्य ब्याज interest on SB A/c FD A/c,interest from any other source </div>
       <div class="col-xs-6 text-right">(8) Rs.{{ customer.Field8 }}</div>
       <div class="col-xs-6">9. कर योग्य कुल आय <b>Total Taxable Salary</b></div>
       <div class="col-xs-6 text-right"><b>(5+6+7a+7b+8)</b>&emsp;&emsp;(9) Rs.{{ customer.Field9 }}</div>
       <div class="col-xs-12">10. कटौतियां Deduction U/s 24(b)  स्वयं के रहवास हेतु </div>
       <div class="col-xs-12">&emsp;&emsp;-यदि ऋण 31 .3 .99  तक लिया हो तो  ब्याज  पर अधिकतम छूट रु . 30 ,000 /-</div>
       <div class="col-xs-12">&emsp;&emsp;-31 .3 .99  के पश्चात ऋण लिया हो ;तो जिस वित्त वर्ष में ऋण लिया है</div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;उसके 5  वित्त के अंदर ; गृह निर्मांड / कब्ज़ा कर लेने पर ब्याज की अधिकतम छूट रु . 2 ,00 ,000 /-</div>
       <div class="col-xs-5 text-right">(10) Rs.{{ customer.Field10 }}</div>
       <br>
       <div class="col-xs-12"><b>11. अद्याय  -VI क के अंतर्गत कटौतियां  DEduction under Chapter VI-A&emsp; U/s 80C</b></div>
       <div class="col-xs-8">&emsp;&emsp;(a) GPF/EPF contribution</div>
       <div class="col-xs-4">Rs.{{ customer.Field11a }}</div>
       <div class="col-xs-8">&emsp;&emsp;(b) GIS/FBF Premium </div>
       <div class="col-xs-4">Rs.{{ customer.Field11b }}</div>
       <div class="col-xs-8">&emsp;&emsp;(c) Contribution to approved super annuation fund</div>
       <div class="col-xs-4">Rs.{{ customer.Field11c }}</div>
       <div class="col-xs-8">&emsp;&emsp;(d) LIC premium(10% of sum insured)</div>
       <div class="col-xs-4">Rs.{{ customer.Field11d }}</div>
       <div class="col-xs-8">&emsp;&emsp;(e) School/college full time tution fee of any two children</div>
       <div class="col-xs-4">Rs.{{ customer.Field11e }}</div>
       <div class="col-xs-8">&emsp;&emsp;(f) New N.S.C purchased</div>
       <div class="col-xs-4">Rs.{{ customer.Field11f }}</div>
       <div class="col-xs-8">&emsp;&emsp;(g) PPF</div>
       <div class="col-xs-4">Rs.{{ customer.Field11g }}</div>
       <div class="col-xs-8">&emsp;&emsp;(h) CTD/PO 10 or 15 years</div>
       <div class="col-xs-4">Rs.{{ customer.Field11h }}</div>
       <div class="col-xs-8">&emsp;&emsp;(i) Deposite in pension fund set up by  scheduled mutual fund</div>
       <div class="col-xs-4 "> Rs.{{ customer.Field11i }}</div>
       <div class="col-xs-8">&emsp;&emsp;(j) Re-investment of interest in old NSC</div>
       <div class="col-xs-4">Rs.{{ customer.Field11j }}</div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;(k) Principal repayment of house loan paid to Cenral/state Govt. Dev. Authority/</div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;&emsp;Housing Board/ Public sector Co. engaged in providing long term finance for house</div>
       <div class="col-xs-8">&emsp;&emsp;&emsp;LIC/ Bank/ Co-Op.Bank/Co.Op society & or stamp duty, Regn. Fee</div>
       <div class="col-xs-4">Rs.{{ customer.Field11k }}</div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;&emsp;& other Exp. for the purpose of transfer or purchase of house property</div>
       <div class="col-xs-8">&emsp;&emsp;(l) ULIP/ Dhan raksha/ Jeevan dhara/ Jeevan akshay</div>
       <div class="col-xs-4">Rs.{{ customer.Field11l }}</div>
       <div class="col-xs-8">&emsp;&emsp;(m) specified MF</div>
       <div class="col-xs-4">Rs.{{ customer.Field11m }}</div>
       <div class="col-xs-8">&emsp;&emsp;(n) Fixed deposite in scheduled banks or Post office for 5years or more.</div>
       <div class="col-xs-4">Rs.{{ customer.Field11n }}</div>
       <div class="col-xs-8">&emsp;&emsp;(o) Subcription to bonds issued by NABARD</div>
       <div class="col-xs-4">Rs.{{ customer.Field11o }}</div>
       <div class="col-xs-8">&emsp;&emsp;(p) Senior citizen saving scheme 2004</div>
       <div class="row">
       <div class="col-xs-4">Rs.{{ customer.Field11p }}</div>
       <div class="col-xs-8">&emsp;&emsp;(q) Others</div>
       <div class="col-xs-4">Rs.{{ customer.Field11q }}</div>
       <div class="col-xs-8">&emsp;&emsp;<b>U/s 80 CCC-</b> Deposit in pension fund pol. of any insurance Co.</div>
       <div class="col-xs-4">Rs.{{ customer.Field11CCC }}</div>
       <div class="col-xs-8">&emsp;&emsp;<b>U/s 80 CCD-</b> Deduction in respect contribution to National Pension system(NPS)</div>
       <div class="col-xs-4">Rs.{{ customer.Field11CCD }}</div>
       <div class="col-xs-8"></div>
       <div class="col-xs-4">total (11)Rs.{{ customer.Field11Total }}</div>
       <div class="col-xs-12"><b>12. U/s 80CCE- 11  का योग अथवा रु . 1 .50  लाख जो कम हो लिख</b> </div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;&emsp;write total of 11 or Rs. 1.5 lakh whichever is less</div>
       <div class="col-xs-6">&emsp;&emsp;&emsp;&emsp;+rs. 50000/- Extra on 80CCD</div>
       <div class="col-xs-6 text-right">(12) Rs.{{ customer.Field12 }}</div>
       <div class="col-xs-12 text-right"><b>13. C/o total of 10 & 12</b>&emsp;  Rs.{{ customer.Field13 }}</div>
       <div class="col-xs-12"><b>14. U/s 80 D</b> &emsp;- चिकित्सा बीमा प्रीमियम 25 ,000 /- तक एवम  वरिष्ठ नागरिक 30 ,000 /-</div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;&emsp;&emsp;Premium paid for insurance of health upto Rs. 25,000/- & for Sr. citizen 30,000/-</div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;&emsp;&emsp;माता-पिता की चिकित्सा बीमा प्रीमियम 25 ,000 /- एवम वरिष्ठ माता-पिता 30 ,000 /-</div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;Health insurance Prem. of Parents Rs. 25,000/- if parents are Sr. citizen 30,000/-</div>
       <div class="col-xs-5">Rs.{{ customer.Field14D }}</div>
       <div class="col-xs-12">&emsp;<b>U/s 80 DD</b>&emsp;- आक्षीत   विकलांग पर चिकित्सा व्यय निवेश इत्यादि 75 ,000 /- </div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;&emsp;&emsp;Expenses on medicalctreatment/deposit for maintainance of handicapped</div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;Dependent Rs. 75,000/-; In case of disability over 80% RS. 1,25,000/-</div>
       <div class="col-xs-5">Rs.{{ customer.Field14DD }}</div>
       <div class="col-xs-12">&emsp;<b>U/s 80 DDB</b> &emsp;- पुरानी / दीर्घकालिक /विशिष्ट बीमारी (जैसे एड्स इत्यादि ) पर व्यय 40 ,000 /- तक </div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;यदि व्यय आक्षीत   सीनियर सिटीजन पर किया है तो 60 ,000 /- तक (फॉर्म 10-I  लगाए )</div>
       <div class="col-xs-5">Rs.{{ customer.Field14DDB }}</div>
       <div class="col-xs-12">&emsp;<b>U/s 80 E</b> &emsp;-स्वयं , पति या पत्नी ,बच्चो की उच्च शिक्षा (पूर्णकालिक ) के लिए लिया गया ब्याज </div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;Payment of interest on loan taken for self, spouse & children higher education (Full time Study Course)</div>
       <div class="col-xs-5">Rs.{{ customer.Field14E }}</div>
       <div class="col-xs-12">&emsp;<b>U/s 80 G </b>&emsp;-आयकर विभाग द्वारा अनुमोदित संस्थाओ दान (सीमा एवं नियम देखे )</div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;Donation to organisations approved by I.T. Deptt. (Ref. Ceiling & rules)</div>
       <div class="col-xs-5">Rs.{{ customer.Field14G }}</div>
       <div class="col-xs-12">&emsp;<b>U/s 80 GG</b> &emsp; -Employee who is not in reciept of HRA  & Pays rent for accomodation</div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;(condition appy, submit decleration in customer 10 BA) Max. Rs. 60,000/-</div>
       <div class="col-xs-5">Rs.{{ customer.Field14GG }}</div>
       <div class="col-xs-12">&emsp;<b>U/s 80 U </b>&emsp; -पूर्ण वृस्तिहीन / स्थाइ   शारीरिक/ मानसिक  विकलांग निर्धारितो को छूट 75 ,000 /-</div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;deduction to totally blind/ physically/ mentally handicapped assessee Rs. 75,000/-</div>
       <div class="col-xs-5">Rs.{{ customer.Field14U }}</div>
       <div class="col-xs-12">&emsp;&emsp;&emsp;&emsp;&emsp;in case of disability over 80% rebate is Rs. 1,25,000/- </div>
       <div class="col-xs-12">&emsp;<b>U/s 80 TTA </b>&emsp;- सेविंग बैंक की ब्याज पर रु. 10 ,000 /- तक छूट </div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;Interest ON Savings Bank upto Rs. 10,000/- </div>
       <div class="col-xs-5">Rs.{{ customer.Field14TTA }}</div>
       <div class="col-xs-7">&emsp;&emsp;&emsp;&emsp;&emsp;-अन्य कटौती &emsp; Any other deduction</div>
       <div class="col-xs-3">Rs.{{ customer.Field14Any }}</div>
       <div class="col-xs-2">Rs.{{ customer.Field14extra }}</div>
       <div class="col-xs-8"><b>15. कटौतियों  का  योग  Total of deduction Sec. 24(b) & sec. 80 (13+14)</b></div>
       <div class="col-xs-4 text-right">Rs.{{ customer.Field15 }}</div>
       <div class="col-xs-8"><b>16. शुद्ध का योग्य आय   16. net taxable income (9-15) आय (-) कटौतियां </b></div>
       <div class="col-xs-4 text-right">Rs.{{ customer.Field16 }}</div>
       <div class="col-xs-8">17. सुध का योग्य आय की राशि निकटतम 10 /- तक पूर्णांकित Net Taxable Income rounded upto Rs. 10/-</div>
       <div class="col-xs-4 text-right">Rs.{{ customer.Field17 }}</div>
       <div class="col-xs-8">18.शुद्ध कृषि आय : कर - दर के लिए (परिभाषित प्रावधानों के अधीन  ) Net agriculture Income for tax rate purpose(see rules)</div>
       <div class="col-xs-4 text-right">Rs.{{ customer.Field18 }}</div>
       <div class="col-xs-8"><b>19. कर  गणना  हेतु आय का योग    total (17+18)</b></div>
       <div class="col-xs-4 text-right">Rs.{{ customer.Field19 }}</div>
       <div class="col-xs-12">20. आय कर  की  गणना 'पुरुष या महिला दर एक सामान है ' upto 2 ,50 ,000 /- तक कुछ नहीं </div>
       <div class="col-xs-6">&emsp;&emsp;2 ,50 ,001  से 5  लाख तक &emsp; 5 %</div>
       <div class="col-xs-6">Rs. {{ customer.Field20a }}</div>
       <div class="col-xs-6">&emsp;&emsp;5 ,00 ,001  से 10  लाख तक&emsp;   20 %</div>
       <div class="col-xs-6">Rs. {{ customer.Field20b }}</div>
       <div class="col-xs-6">&emsp;&emsp;10 ,00 ,000 /- से अधिक पर &emsp;     30 %</div>
       <div class="col-xs-6">Rs. {{ customer.Field20c }}</div>
       <div class="col-xs-6">&emsp;&emsp;* 60 वर्ष से 80  वर्ष के लिए उपरोक्त कर योग्य सीमा 3 ,00 , 001 /- से शुरू </div>
       <div class="col-xs-6"></div>
       <div class="col-xs-6"><b>योग  Total (20)</b> Rs. {{ customer.Field20Total }}</div>
       <div class="col-xs-12">21. घटाए U /s  87A  आयकर राशि या रु. 2500 /- जो भी काम हो </div>
       <div class="col-xs-6">&emsp;&emsp;&emsp;&emsp;(सिर्फ रु. 3.5 लाख तक की कर योग्य आय होने पर  )</div>
       <div class="col-xs-6">(-) Rs. {{ customer.Field21 }}</div>
       <div class="col-xs-6">22. देयकर  Income tax payable (20-21)</div>
       <div class="col-xs-6">Rs. {{ customer.Field22 }}</div>
       <div class="col-xs-6">23. शिक्षा एवम उच्च शिक्षा उपकर Education Hr. Edu. Cess (3% of 22)</div>
       <div class="col-xs-6">(+) Rs. {{ customer.Field23 }}</div>
       <div class="col-xs-8"><b> योग   Total (22+23)&emp;&emsp;कुल आयकर  Total income tax</b></div>
       <div class="col-xs-4"> Rs. {{ customer.Field24 }}</div>
       <div class="col-xs-8">25. राहत U /s 89  (बकाया राशि के कर का अंतर ) Relief u/s 89 (Arear,Dif. of tax)</div>
       <div class="col-xs-4">Rs. {{ customer.Field25 }}</div>
       <div class="col-xs-8">26. शुद्ध देयकर  Net income tax payable(24+- 25)</div>
       <div class="col-xs-4">Rs. {{ customer.Field26 }}</div>
       <div class="col-xs-8">27. अब तक काटा गया कर Tax already deducted</div>
       <div class="col-xs-4">(-) Rs. {{ customer.Field27 }}</div>
       <div class="col-xs-12">28. आगामी माह से शेष कर कटौती  Balance tax to be deducted from salary </div>
       <div class="col-xs-6"></div>
       <div class="col-xs-6">दिसंबर  2017 Rs. {{ customer.Field28a }}</div>
       <div class="col-xs-6"></div>
       <div class="col-xs-6"> जनवरी 2018 Rs. {{ customer.Field28b }}</div>
       <div class="col-xs-6"></div>
       <div class="col-xs-6">  फरवरी 2018 Rs. {{ customer.Field28c }}</div>
       <div class="col-xs-6"></div>
       <div class="col-xs-3"> मार्च 2018  Rs. {{ customer.Field28d }}</div>
       <div class="col-xs-3">Rs. {{ customer.Field28extra }}</div>
     </div></br>
     <!-- row closed -->
     <div class="row">
       <div class="col-xs-12"><b> सत्यापन : मै एतद द्वारा घोषित करता हूँ की उपरोक्त जानकारी सत्य एवम पूर्ण है ।</b></div><br/><br/>
       <div class="col-xs-6">स्थान Place {{ customer.Place }}</div>
       <div class="col-xs-6">{ customer.Signature }}</div>
      </div>
      <div class="row">
        <div class="col-xs-6">दिनांक Date {{ customer.Date }}</div>
        <div class="col-xs-6">निर्धारिती के हस्ताक्षर  Sign. of Assessee</div>
       </div>
    <br/>
      <input class="btn btn-default" type="button" value="Print or Generate PDF" onClick="window.print()">
    </div>
    <br/>

  {% endblock %}

</html>
