{% csrf_token %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'form/loda.css' %}">
    <title>end page</title>
  </head>
{% block content %}
  <body>
    <div class="jumbotron text-center">
  <h1><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br/>Thank You</h1>
  <p>Your TDS Details have been submitted.</p>
</div>
  </body>
{% endblock %}
