{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Access Code</title>

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

		<!-- Custom Stylesheet -->
		<link rel="stylesheet" href="{% static 'form/style.css' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="top">
				<h1 id="title" class="hidden"><strong>Statement of Income for the purpose of TDS</strong></h1>
			</div>
			<div class="login-box">
				<div class="box-header">
					<h2>Access Code</h2>
				</div>
			{% block content %}
				<form method="POST">
					{% csrf_token %}
          <br/>
					<label for="Code">
            {% if errors %}
          			{% for error in errors %}
            			{{ error }}
          			{%  endfor %}
      			{% endif %}
          </label>
					<br/>
					<input type="password" name="code" id="Code">
					<br/>
					<button type="submit">Access</button>
				</form><br/>
			<a href="{% url 'login' %}">	Adminstration Login?</a>
			</div>
		{% endblock %}
		</div>
	</body>

</html>
