#parent{
	width:90%;
	margin:auto;
	background-color:#f5f5f0;
}
.container{
	padding-top: 20px;
	padding-bottom: 20px;
}

.col-xs-12, .col-xs-2, .col-xs-3, .col-xs-6,.col-xs-4, .col-xs-7, .col-xs-8{
	padding: 5px 0 5px 0;
}

#id_Name{
	width: 80%;
}

#id_Designation{
	width: 80%;
}

#id_AccNumber{
	width:80%;
}

#id_OffAdd{

	width:89%;
}

#id_ResAdd{
	width:85%;
}
.border{
	border-bottom: 2px solid black;
}
